*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/spacing";

html {
    // Scrool mais suave de transição
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    position: relative;

    scroll-behavior: smooth;

    background-color: $white-dark;
}

// Para deixar imagens e SVGs fluidos
svg {
    width: 100%;
}

img {
    width: 100%;
}

.border {
    border: 1px solid red;
}

@import "partials/menu";
@import "partials/swiper";
@import "partials/icons";
@import "partials/footer";
@import "partials/animations";
