// Typography of project

@mixin typeface-1($size, $device: desktop) {
    font-family: "Sora", sans-serif;

    @if $size == h1 and $device == desktop {
        font-size: 64px;
        line-height: 100%;
    } @else if $size == h1 and $device == mobile {
        font-size: 36px;
        line-height: 100%;
    } @else if $size == h2 and $device == desktop {
        font-size: 52px;
        line-height: 100%;
    } @else if $size == h2 and $device == mobile {
        font-size: 36px;
        line-height: 100%;
    } @else if $size == h3 and $device == desktop {
        font-size: 36px;
        line-height: 120%;
    } @else if $size == h3 and $device == mobile {
        font-size: 24px;
        line-height: 120%;
    } @else if $size == h4 and $device == desktop {
        font-size: 24px;
        line-height: 130%;
    } @else if $size == h4 and $device == mobile {
        font-size: 18px;
        line-height: 130%;
    } @else if $size == h5 and $device == desktop {
        font-size: 18px;
        line-height: 140%;
    } @else if $size == h5 and $device == mobile {
        font-size: 16px;
        line-height: 150%;
    }
}

@mixin typeface-2($size: p2, $device: desktop) {
    font-family: "Source Sans Pro", sans-serif;

    @if $size == p1 and $device == desktop {
        font-size: 24px;
        line-height: 130%;
    } @else if $size == p1 and $device == mobile {
        font-size: 18px;
        line-height: 130%;
    } @else if $size == p2 and $device == desktop {
        font-size: 16px;
        line-height: 140%;
    } @else if $size == p2 and $device == mobile {
        font-size: 14px;
        line-height: 150%;
    } @else if $size == p3 and $device == desktop {
        font-size: 14px;
        line-height: 150%;
    } @else if $size == p3 and $device == mobile {
        font-size: 14px;
        line-height: 150%;
    }
}

h1 {
    color: $black-normal;
    @include typeface-1(h1, desktop);
    @include responsive(s) {
        @include typeface-1(h1, mobile);
    }
}

h2 {
    color: $black-normal;
    @include typeface-1(h2, desktop);
    @include responsive(s) {
        @include typeface-1(h2, mobile);
    }
}

h3 {
    color: $black-normal;
    @include typeface-1(h3, desktop);
    @include responsive(s) {
        @include typeface-1(h3, mobile);
    }
}

h4 {
    color: $black-normal;
    @include typeface-1(h4, desktop);
    @include responsive(s) {
        @include typeface-1(h4, mobile);
    }
}

h5 {
    text-transform: uppercase;
    background: linear-gradient(220.94deg, #a950c4 14.43%, #82269e 85.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

    @include typeface-1(h5, desktop);
    @include responsive(s) {
        @include typeface-1(h5, mobile);
    }
}

p {
    color: $gray-4;
    @include typeface-2(p2, desktop);
    @include responsive(s) {
        @include typeface-2(p2, mobile);
    }
}

.bold {
    font-weight: bold;
    color: $black-light;
}

strong {
    color: $black-normal;
    @include typeface-2(p2, desktop);
    @include responsive(s) {
        @include typeface-2(p2, mobile);
    }
}

.text-center {
    text-align: center;
}
